@{
    Layout = "_Layout"; // Varsayılan layout'unuzu kullanabilirsiniz.
}

<!-- FontAwesome Stil Dosyası Eklendi -->
<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css">
<style>
    .form-control:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    .toggle-password {
        cursor: pointer;
    }
    #error-message {
    margin-top: 3%; /* Uyarı yazısını login butonundan 20 piksel uzaklaştırır */
    }  
}
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Login</div>
                <div class="card-body">
                    <form method="post" asp-action="Login" asp-controller="Auth">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <input type="password" class="form-control" id="password" name="password" required>
                                <div class="input-group-append">
                                    <span class="input-group-text toggle-password">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Login</button>
                        
                    </form>
                    <div id="error-message" class="alert alert-danger" style="display: none;">
                            Hatalı giriş. Lütfen kullanıcı adı ve şifrenizi kontrol edin.
                        </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

    function showErrorMessage() {
        $("#error-message").show();
    }

    // JavaScript içinden Razor kodunu çağırır (hata durumunda çalıştırılır)
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <text>
            showErrorMessage();
        </text>
    }
    

    document.querySelector(".toggle-password").addEventListener("click", function (e) {
        var passwordInput = document.getElementById("password");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            e.target.classList.remove("fa-eye");
            e.target.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            e.target.classList.remove("fa-eye-slash");
            e.target.classList.add("fa-eye");
        }
    });

  
   
</script>

}
